    <div ng-controller="overviewController">
        <div class="row" style="padding-top: 50px">
            <div map location="location" thumbnails="thumbs" class="col-lg-8 col-md-8 col-sm-8 fill-bottom" style="border-right-color: #34495e;
    border-right-style: double;
    border-right-width: 10px; padding-right: 0"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 fill-bottom" style="padding-left: 0;">
                <div class="thumb-container">
                    <div class="thumb dark-blue-back clickable" style="height: 230px; width: 200px;" ng-repeat="thumb in thumbs" ng-click="openModal(thumb)" ng-mouseover="startHover(thumb)" ng-mouseleave="endHover(thumb)">
                        <div class="flex-container" style="height: 200px; border-bottom-style: groove; margin-bottom: 3px;">
                        <img ng-src="{{thumb.image_url}}" style="max-height: 180px; max-width: 180px; margin: 10px">
                        </div>
                        <span style="color: whitesmoke; margin: 0 10px">{{thumb.title_short}}</span>
                        <span class="glyphicon glyphicon-heart pull-right" style="color: whitesmoke; margin-right: 10px; top: 2px;"></span>
                        <a ng-bind="thumb.likes_count" class="pull-right" style="color: whitesmoke; margin-right:5px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
