<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title" ng-bind="modalInfo.title"></h4>
            </div>
            <div class="modal-body">
                <div class="flex-container">
                    <img class="flex-item" style="height:400px; margin-bottom: 20px" ng-src="{{modalInfo.url}}">
                </div>
                <div>
                    <span>Created on: {{modalInfo.created}}</span>
                    <span class="glyphicon glyphicon-heart pull-right" style="margin-right: 10px; top: 2px;"></span>
                    <span ng-bind="modalInfo.likes" class="pull-right" style="margin-right:5px"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>